# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# Environment variables
.env
*.env
**/.env
# macOS / Linux / Windows
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Coverage reports
htmlcov/
coverage.xml
*.cover
*.py,cover

# Build / Distribution
build/
dist/
*.egg-info/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/
#ignore uploads
uploads/
dataserverapp/.env
