.header-upload {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  
}

.expand-button{
  display:block;
  border-radius: 100%;
}

.sidebar{
  background-color: #212121;
}
.navbar{
  color: #ffffff;
}