.sideBarEnabled{
    display: grid;
    grid-template-columns: .5fr 2fr;
    height: 100vh;

}
.sideBarDisabled{
    display: grid;
    grid-template-columns: 2fr;
    height: 100vh;
}
.dataChartMainContent{
  min-height: 100%;
}
.dataChartHeader{
      min-height: 8%;
}

.dataChartBody{
    min-height: 92%;
    display: grid;

}

.dataChartHaveData{
    align-items: flex-end;
    padding-bottom: 18px;
}
.dataChartHaveNoData{
   align-items: center;
}

.promptHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}