:root{
    --bg-color: #ffffffff;
    --text-color: #000000;
    --primary-color: #1e90ff;
}
[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #ffffff;
    --primary-color: #bb86fc;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--primary-color);
}


.nav {
    display: flex;
    justify-content: space-between;
    background: #30506c;
    margin-bottom: 2%;
}
