:root {
  --bg-color: #ffffffff;
  --text-color: #000000;
  --primary-color: #1e90ff;
  --nav-bg-color: #30506c;
  --content-bg-color: #282828;
  --button-bg-color: #1e9722;
  --submit-bg-color: #0876df;
  --inputfield-bg-color: #dbdbdb;
  --tableheader-bg-color: #f2f2f2;
  --tablehover-bg-color: #f1f1f1;
  --tablenth-bg-color: #fafafa;
  --tableeven-bg-color: #0a0a0aff;
}
/* [data-theme="light"] {
  --color-bg: #ffffff;
  --color-fg: #000000;
} */

[data-theme="dark"] {
  --color-bg: #282828;
  --color-fg: #ffffff;
  --nav-bg-color: #17161e;
  --content-bg-color: #282828;
  --button-bg-color: #9d60c5;
  --submit-bg-color: #4494ff;
  --tablehover-bg-color: #333333;
  --tableheader-bg-color: #393939;
  --tableeven-bg-color: #4b4b4bff;
  --tablenth-bg-color: #3b3b3b;
}

.file-input {
  padding: 10px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  margin: 0;
}

a {
  color: var(--primary-color);
}

.field-input {
  width: 527px;
  height: 85px;
}
label {
  font-size: 16px;
  padding: 10px;
}
.input {
  width: 527px;
  height: 85px;
}
.text-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.export-button {
  border: none;
  padding: 10px;
  background-color: var(--button-bg-color);
  /* margin-bottom: 10px; */
  float: right;
  border-radius: 5px;
  margin: 20px;
  margin-top: 40px;
}
.question {
  font-size: 18px;
}

.context {
  font-size: 18px;
}
textarea {
  width: 527px;
  height: 85px;
}
.submit-button {
  padding: 10px;
  background-color: var(--submit-bg-color);
  margin-right: 75px;
  margin-top: 10px;
  float: right;
  border: none;
  border-radius: 5px;
  width: 100px;
}

.container-box {
  border: 1px solid var(--inputfield-bg-color);
}
/* 
.table-output {
  background-color: var(--inputfield-bg-color);
} */

/* result table style */
.result-table-container {
  overflow-x: auto;
  margin: 1rem 0;
}

.result-custom-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.result-custom-table th,
.result-custom-table td {
  border: 1px solid var(--tableeven-bg-color);
  padding: 8px;
  text-align: left;
}

.result-custom-table th {
  /* background-color: #f2f2f2; */
  background-color: var(--tableheader-bg-color);
  font-weight: bold;
  text-transform: uppercase;
}

.result-custom-table tr:nth-child(even) {
  background-color: var(--tablenth-bg-color);
}

.result-custom-table tr:hover {
  /* background-color: #f1f1f1; */
  background-color: var(--tablehover-bg-color);
}

textarea {
  color: var(--color-fg);
  border: 1px solid var(--tableeven-bg-color);
  background-color: var(--tablenth-bg-color);
  padding: 10px 10px;
}
