:root{
    --bg-color: #ffffffff;
    --text-color: #000000;
    --primary-color: #1e90ff;
}
[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #ffffff;
    --primary-color: #bb86fc;
}

.file {
  padding: 10px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
}

a {
  color: var(--primary-color);
}

